BasedOnStyle: Google
IndentWidth: 4
AlignEscapedNewlines: Left
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: true
BinPackArguments: true
BreakBeforeBraces: Allman
ColumnLimit: 96
PointerAlignment: Right
DerivePointerAlignment: false
IndentCaseLabels: false
NamespaceIndentation: None
